body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f9fbfd;
    color: #222831;
    margin: 0;
    padding: 0 20px;
}

h1, h2 {
    color: #146b8d;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 700;
}

h1 {
    font-size: 2.3rem; /*A font size of 2.3rem is equal to 36.8px, assuming the browser's default root font size is the standard 16px.*/
    letter-spacing: 0.03em;/* 0.03em means 0.03 times the size of the parent element's font in CSS.*/
}

h2 {
    font-size: 1.5rem;
}

ul {
    margin: 16px 0 24px 32px;
    padding: 0;
    color: #393e46;
}

li {
    margin-bottom: 8px;
    padding-left: 2px;
    font-size: 1.07rem;
}

p {
    margin-top: 16px;
    margin-bottom: 18px;
    line-height: 1.6;
}

a {
    color: #0a87be;
    text-decoration: none;
    transition: color 0.2s;
}
a:hover, a:focus {
    color: #34b4fb;
    text-decoration: underline;
}

@media (max-width: 900px) {
    body {
        padding: 0 12px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    ul {
        margin-left: 18px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 0 6px;
    }
    h1 {
        font-size: 1.3rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1rem;
        margin-top: 16px;
        margin-bottom: 8px;
    }
    ul {
        margin-left: 9px;
        font-size: 0.97rem;
    }
    li {
        font-size: 0.95rem;
    }
    p {
        font-size: 0.97rem;
    }
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

#comments-container {
    margin-top: 32px;
    padding: 20px;
    background-color: #f1f7fa;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(20, 107, 141, 0.04);
}

#comment-form {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    gap: 10px;
    margin-bottom: 20px;
}

#data-container {
    margin-top: 32px;
    padding: 20px;
    background-color: #f1f7fa;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(20, 107, 141, 0.04);
}

#load-data-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #146b8d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}
#load-data-btn:hover {
    background-color: #34b4fb;
}

#custom-data-container {
    margin-top: 32px;
    padding: 20px;
    background-color: #f1f7fa;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(20, 107, 141, 0.04);
}

#custom-load-data-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #146b8d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}
#custom-load-data-btn:hover {
    background-color: #34b4fb;
}